*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.logo {
    max-width: 120px;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 50px;
}

.nav-item {
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.nav-item:hover {
    scale: 1.2;
    margin: 0 5%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: gold;
}

.about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.about-us {
    text-align: center;
    padding: 0 50px;
    font-size: 26px;
}

.about-us-img {
    width: 800px;
    max-height: 450px;
}

.owner-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 35px;
    margin-bottom: 150px;
}

.owner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-wrapper h3 {
    font-size: 30px;
}

.owner-img {
    border: 5px solid white;
    height: 400px;
    width: 350px;
    border-radius: 5%;
}

.owner-img img {
    border-radius: 5%;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-owner {
    font-size: 25px;
    width: 550px;
    line-height: 1.4;
}

